body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
    color:#333;
}
header{
    background-color: #3a3a91;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 36px;
}

header p{
    margin: 5px 0;
    font-size: 18px;
}
nav{
    background-color: #3a3a91;
    color: #ffffff;
    padding: 10px;
    text-align: center;    
}

nav a{
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.section-title{
    font-size: 24px;
    color: #3a3a91;
    margin-bottom: 10px;
    border-bottom: 2px solid #3a3a91;
    padding-bottom: 5px;
}

section{
    margin-bottom: 20px;
}

section ul{
    list-style-type: none;
    padding: 0;
}

section ul li{
    margin-bottom: 10px;
}

section ul li span{
    font-weight: bold;
}

aside{
    background-color: beige;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: #333;
    color: #ffffff;
    padding: 10px ;
    text-align: center;
    margin-top: 20px;
}